services:
  - type: web
    name: sparkai-task
    runtime: docker
    region: oregon
    plan: free
    branch: main
    healthCheckPath: /api/health
    envVars:
      - key: PORT
        value: 10000
